.triangle {
	$myColor: lighten($colorKey, 20%);
	@include triangle-right(10px, $myColor);
	&.lg {
		@include triangle-right(15px, $myColor);
		margin-bottom: -1px;
	}
	
//	box-sizing: border-box;
	display: inline-block;
	&.triangle-down {
		@include triangle-down(10px, $myColor);
	}
}

a {
	.triangle {
		margin-left: 5px;
	}
}