a.logo {
	display: block;
	&.logo-nasa {
		background: url($imagesUrl + 'logo-nasa.png') no-repeat 0 0;
		background-size: contain;
		height: 90px; width: 100px;
	}
	&.logo-openmct {
		background: url($spritesLg) no-repeat 0 0px;
		height: 45px; width: 162px;
	}
}