@font-face {
  font-family: 'armataregular';
  src: url("../fonts/armata/armata-regular-webfont.eot");
  src: url("../fonts/armata/armata-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/armata/armata-regular-webfont.woff") format("woff"), url("../fonts/armata/armata-regular-webfont.ttf") format("truetype"), url("../fonts/armata/armata-regular-webfont.svg#armataregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/_global.scss */
a {
  color: #0066b3;
  cursor: pointer;
  text-decoration: none;
}
/* line 17, ../sass/_global.scss */
a:hover {
  color: #1a9cff;
}
/* line 20, ../sass/_global.scss */
a.em {
  font-family: "armataregular", Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  word-spacing: 0.2em;
}

/* line 27, ../sass/_global.scss */
body {
  background-color: #096bb6;
  color: #5e5e5e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
}

/* line 38, ../sass/_global.scss */
input {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 42, ../sass/_global.scss */
h1, h2, h3, .nav {
  font-family: "armataregular", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* line 47, ../sass/_global.scss */
h1 {
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: -0.07em;
  word-spacing: 0.2em;
  margin-bottom: 20px;
}

/* line 55, ../sass/_global.scss */
h2 {
  font-size: 1.2em;
  letter-spacing: -0.07em;
  word-spacing: 0.2em;
}

/* line 61, ../sass/_global.scss */
.centered {
  text-align: center;
}

/* line 65, ../sass/_global.scss */
.content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

/* line 74, ../sass/_global.scss */
.main,
.ankle {
  background: white;
}
/* line 76, ../sass/_global.scss */
.main p,
.ankle p {
  font-size: 0.8em;
}

/* line 81, ../sass/_global.scss */
.ds {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px 2px;
}

/* line 85, ../sass/_global.scss */
.ts {
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
}

/* line 89, ../sass/_global.scss */
.hide {
  display: none;
}

/* line 98, ../sass/_global.scss */
.main,
.content,
.columns,
.row,
.col {
  overflow: hidden;
  *zoom: 1;
}

/* line 1, ../sass/_layout.scss */
.columns {
  height: 100%;
  padding: 20px 0;
  position: relative;
}
/* line 8, ../sass/_layout.scss */
.columns .row {
  background: rgba(255, 255, 0, 0.3);
  border-top: 1px solid #dddddd;
  margin-top: 18px;
  padding-top: 18px;
}
/* line 13, ../sass/_layout.scss */
.columns .row:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
/* line 20, ../sass/_layout.scss */
.columns .col {
  background: rgba(255, 0, 0, 0.3);
  border-left: 1px solid #dddddd;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-left: 0.01875;
  padding-left: 0.01875;
}
/* line 28, ../sass/_layout.scss */
.columns .col:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 35, ../sass/_layout.scss */
.columns .cols-1 .col {
  border-left: none;
  float: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 42, ../sass/_layout.scss */
.columns .cols-2 .col {
  width: 480px;
}
/* line 44, ../sass/_layout.scss */
.columns .cols-2 .col:first-child {
  width: 462px;
}
/* line 49, ../sass/_layout.scss */
.columns .cols-3 .col {
  width: 3332.70833%;
}
/* line 54, ../sass/_layout.scss */
.columns .cols-3 .col:first-child {
  width: 3330.83333%;
}
/* line 59, ../sass/_layout.scss */
.columns .cols-4 .col {
  width: 231px;
}
/* line 61, ../sass/_layout.scss */
.columns .cols-4 .col:first-child {
  width: 213px;
}

/* line 1, ../sass/_logos.scss */
a.logo {
  display: block;
  position: absolute;
}
/* line 4, ../sass/_logos.scss */
a.logo#logo-nasa {
  background: url("../images/openmct-sprites-lg.png") no-repeat 0 0;
  height: 90px;
  width: 100px;
}
/* line 8, ../sass/_logos.scss */
a.logo#logo-openmct {
  background: url("../images/openmct-sprites-lg.png") no-repeat 0 -90px;
  height: 45px;
  width: 162px;
}

/* line 1, ../sass/_buttons.scss */
.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
/* line 5, ../sass/_buttons.scss */
.btn.lg {
  height: 43px;
  line-height: 43px;
  padding: 0px 20px;
}
/* line 10, ../sass/_buttons.scss */
.btn .triangle {
  margin-left: 7px;
}

/* line 1, ../sass/_icons.scss */
.triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #30a0f5;
  border-bottom: 5px solid transparent;
  display: inline-block;
}
/* line 4, ../sass/_icons.scss */
.triangle.lg {
  width: 0;
  height: 0;
  border-top: 7.5px solid transparent;
  border-left: 7.5px solid #30a0f5;
  border-bottom: 7.5px solid transparent;
  margin-bottom: -1px;
}
/* line 11, ../sass/_icons.scss */
.triangle.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #30a0f5;
  border-right: 5px solid transparent;
}

/* line 17, ../sass/_icons.scss */
a .triangle {
  margin-left: 5px;
}

/* line 1, ../sass/_nav.scss */
ul.nav {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}
/* line 5, ../sass/_nav.scss */
ul.nav a {
  text-decoration: none;
}
/* line 8, ../sass/_nav.scss */
ul.nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  padding: 0;
}

/* line 1, ../sass/_top.scss */
#top {
  background: #f0f0f0;
  font-size: 0.7em;
}
/* line 4, ../sass/_top.scss */
#top a {
  color: #5d5d5d;
}
/* line 6, ../sass/_top.scss */
#top a:hover {
  color: #000;
}
/* line 10, ../sass/_top.scss */
#top .content {
  padding: 8px 0;
}

/* line 1, ../sass/_nav-bar.scss */
#nav-bar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #085d9e), color-stop(5px, #0a79ce), color-stop(70%, #096bb6));
  background-image: -webkit-linear-gradient(#085d9e, #0a79ce 5px, #096bb6 70%);
  background-image: -moz-linear-gradient(#085d9e, #0a79ce 5px, #096bb6 70%);
  background-image: -o-linear-gradient(#085d9e, #0a79ce 5px, #096bb6 70%);
  background-image: linear-gradient(#085d9e, #0a79ce 5px, #096bb6 70%);
  height: 90px;
  padding: 0;
  position: relative;
}
/* line 13, ../sass/_nav-bar.scss */
#nav-bar .content {
  height: 90px;
}
/* line 19, ../sass/_nav-bar.scss */
#nav-bar a.logo#logo-nasa {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
/* line 23, ../sass/_nav-bar.scss */
#nav-bar a.logo#logo-openmct {
  top: 22px;
  right: auto;
  bottom: auto;
  left: 100px;
}
/* line 28, ../sass/_nav-bar.scss */
#nav-bar ul.nav {
  position: absolute;
  top: 32px;
  right: 100px;
  bottom: auto;
  left: 272px;
  height: 24px;
  width: auto;
}
/* line 33, ../sass/_nav-bar.scss */
#nav-bar ul.nav li {
  border-left: 1px solid #043255;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
/* line 38, ../sass/_nav-bar.scss */
#nav-bar ul.nav li a {
  border-left: 1px solid #30a0f5;
  color: #91ccfa;
  display: block;
  font-size: 0.8em;
  padding: 0 10px;
}
/* line 44, ../sass/_nav-bar.scss */
#nav-bar ul.nav li a:hover {
  color: white;
}

/* line 1, ../sass/_hero.scss */
.home .hero {
  color: #ccc;
  position: relative;
  height: 480px;
}
/* line 5, ../sass/_hero.scss */
.home .hero .copy {
  width: 300px;
}
/* line 8, ../sass/_hero.scss */
.home .hero .copy p {
  margin-bottom: 2em;
}
/* line 12, ../sass/_hero.scss */
.home .hero .outer {
  height: 100%;
}
/* line 14, ../sass/_hero.scss */
.home .hero .outer#hero1 {
  background: black url("../images/hero-juno-jupiter.jpg") no-repeat center top;
  font-family: "armataregular", Helvetica, Arial, sans-serif;
}
/* line 18, ../sass/_hero.scss */
.home .hero .outer#hero1 h1 {
  color: #ce9269;
}
/* line 20, ../sass/_hero.scss */
.home .hero .outer#hero1 h1 p {
  margin: 0;
}
/* line 22, ../sass/_hero.scss */
.home .hero .outer#hero1 h1 p.em {
  color: white;
  font-size: 1.5em;
}
/* line 29, ../sass/_hero.scss */
.home .hero .outer#hero1 .btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a79ce), color-stop(50%, #096bb6));
  background-image: -webkit-linear-gradient(#0a79ce, #096bb6 50%);
  background-image: -moz-linear-gradient(#0a79ce, #096bb6 50%);
  background-image: -o-linear-gradient(#0a79ce, #096bb6 50%);
  background-image: linear-gradient(#0a79ce, #096bb6 50%);
  color: white;
}
/* line 32, ../sass/_hero.scss */
.home .hero .outer#hero1 .btn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1894f4), color-stop(50%, #0a79ce));
  background-image: -webkit-linear-gradient(#1894f4, #0a79ce 50%);
  background-image: -moz-linear-gradient(#1894f4, #0a79ce 50%);
  background-image: -o-linear-gradient(#1894f4, #0a79ce 50%);
  background-image: linear-gradient(#1894f4, #0a79ce 50%);
}
/* line 36, ../sass/_hero.scss */
.home .hero .outer#hero1 .content {
  padding-top: 90px;
}

/* line 1, ../sass/_ankle.scss */
.ankle {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 5, color-stop(0%, #d3d3d3), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(#d3d3d3, #ededed 5px);
  background-image: -moz-linear-gradient(#d3d3d3, #ededed 5px);
  background-image: -o-linear-gradient(#d3d3d3, #ededed 5px);
  background-image: linear-gradient(#d3d3d3, #ededed 5px);
}
