$bodyMargin: 0;
$colorKey: #096bb6;
$colorSub: #f0f0f0;
$colorAccent: #cf9369;
$colorAccent2: #ce9269; // hero h1
$colorBorder: #ddd;
$contentSidePad: 10px;
$displayW: 960px;

$fontKey: 'armataregular', Helvetica, Arial, sans-serif;
$imagesUrl: '../images/';
$spritesLg: $imagesUrl + 'openmct-sprites-lg.png';