.feature-box {
	.col {
//		background: rgba(green, 0.05);
		height: 255px;
		position: relative;
		.img {
			background: url($spritesLg) no-repeat 0 -365px; //rgba(green, 0.2) 
			position: absolute;
			top: 110px; right: 0; bottom: 0; left: $columnGutterPx;
			height: auto; width: auto;
		}

		&:first-child .img {
			left: 0;
		}
	}

	#feature-box-1 .img {
		top: 115px;
		background-position: 0 -365px; // Laptop
	}
	
	#feature-box-2 .img {
		top: 165px;
		background-position: 0 -45px; // Vehicles
	}
	
	#feature-box-3 .img {
		top: 120px;
		background-position: 50px -510px; // Lego
	}
	
	#feature-box-4 .img {
		top: 180px; left: 225px;
		background-position: 0px -135px; // Wrench and screwdriver
	}
	
	#feature-box-5 .img {
		top: 165px; left: 170px;
		background-position: 0px -275px; // Keyboard
	}
	
	#feature-box-6 .img {
		top: 165px; left: 195px;
		background-position: -200px -45px; // Rover
	}
}