		<div class='content'>
			<div class='row cols-3 no-h-border'>
				<div class='col'>					
					<div class='columns'>
						<div class='row cols-1-3 no-h-border'>
							<div class='col'>
								<a href='' class='logo logo-nasa'></a>
							</div>	
							<div class='col'>
								<p>
									NASA Official: Jay Trimble<br />
									Curator: Charles Hacskaylo
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class='col'>
					<p>
						<a href='' class='em'>Privacy Policy and Important Notices</a><br />
						<a href='' class='em'>Terms of Use</a><br />
						<a href='' class='em'>USA.gov</a>
					</p>
				</div>
			</div>
		</div>