<table class='list list-2-col'>
	<tr><td class='date'>8/26/2013</td><td class='data'><a href=''>Multi-Column Table View</a></td></tr>
	<tr><td class='date'>8/25/2013</td><td class='data'><a href=''>Non-Time / Non-Time Plots</a></td></tr>
	<tr><td class='date'>8/14/2013</td><td class='data'><a href=''>Release 1.8b1</a></td></tr>
	<tr><td class='date'>8/3/2013</td><td class='data'><a href=''>Release 1.7 is Complete</a></td></tr>
	<tr><td class='date'>7/27/2013</td><td class='data'><a href=''>MCT button and icon graphics available for download</a></td></tr>
	<tr><td class='date'>7/19/2013</td><td class='data'><a href=''>Object-Oriented GUIs are the Future</a></td></tr>
</table>