<h1>Start experiencing Open MCT today</h1>
<p>
    Download and experiment with the evaluation demo that includes preloaded objects, an embedded database, a selection of views, and a simulated data feed. If you haven't viewed our <a href="https://ti.arc.nasa.gov/OpenMCT/whatis/">overview video</a> yet, we encourage you to do so - it's the best way to get familiar with MCT's capabilities and features.
</p>

<h2>Evaluation Version</h2>

<h3>System Requirements</h3>
<ul>
    <li>Windows 7 or greater; Mac OS 10.8.5 or later; most Linux systems.</li>
    <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" target="_blank">Java SE 6</a> or later.</li>
    <li>Some demo features require an Internet connection.</li>
</ul>

<p class="centered"><a href="" class="button" style="display: inline-block;">Download Evaluation Demo</a></p>

<h3>Installation and Startup</h3>
<ol>
    <li>Click the &quot;Download Evaluation Demo&quot; button above and select a location to save the resulting .zip file.</li>
    <li>Uncompress the .zip file that was just downloaded. In most operating systems, this is accomplished by simply double-clicking the .zip file.</li>
    <li>Navigate inside the extracted folder named "mct-demo-1.8" and double-click the file named "MCT.jar" Alternately, from the command line you can navigate within the extracted folder and run this command: <code>java -jar MCT.jar</code></li>
    <li>The Open MCT evaluation demo should now start and run.</li>
</ol>