<div class="logo openmct"></div>
<div class="banner-ov label">Launched in 2013, the IRIS mission uses Open MCT.</div>

<h1>Mission Control Technologies &ndash; Open Sourced</h1>
<p>
Control centers for space missions are tasked with operating spacecraft. While the specific tasks may vary with each mission, the basic roles - monitoring spacecraft health and status, sending commands to carry out mission goals, monitoring activities, knowing where the spacecraft is relative to its planetary or deep space objective - are similar across missions. Traditionally, software for conducting space mission operations is built using traditional application architectures, using a suite of different applications. Open MCT changes that paradigm completely.
</p>

<h2>What is Open MCT?</h2>
<p><img src="http://ufoseries.com/publicity/thumb/shado_hq_operative.jpg" style="display: none; float: right; margin-left: 10px; height: 75px;" />
Developed to support situational awareness for space missions, Open MCT eliminates the walls associated with traditional software by replacing applications with compositions. Users are provided with an integrated environment of pre-built software objects from which software may be assembled by putting the building blocks together. It’s a simple as drag and drop.
<a href='/openmct/whatis/' class='link'>Learn More</a></p>

<h2>Get Involved</h2>
<p>
You can be part of the Open MCT community. Choose your level of engagement: as a user, simply download the demo and give it a try, visualize missions using pre-built displays. As a composer, you can build your own displays from pre-built parts. As a contributor, you can contribute code, designs and ideas.
<a href='/openmct/getinvolved/' class='link'>Learn More</a></p>

<h2>Downloads</h2>
<p>
Get more information on downloading and installing the Open MCT demo and getting access to the source code. The demo is the easiest way to give Open MCT a try - just download and install and you’re up and running. You can view mission-like displays, or build your own using the pre-built software objects and track some spacecraft. Want to go deeper? Find out about how to access our GitHub repository for access to the source code.
<a href='/openmct/downloads/' class='link'>Learn More</a></p>

<h2>Events and Missions</h2>
<p>
Dis pid parturient lorem scelerisque, massa in vel pulvinar, tristique, diam, tincidunt lundium tincidunt, et, scelerisque porta? Odio augue nunc! Urna. Ultricies! Ultrices diam sed, tincidunt lectus in ac, rhoncus a, placerat phasellus in? Et, adipiscing  Sed, ac cursus! Urna nascetur..
<a href='/openmct/events/' class='link'>Learn More</a></p>