<!--div class="banner-ov label">Launched in 2013, the IRIS mission uses Open MCT.</div-->
<div class="logo openmct"></div>
<h1>Object-oriented, modular and robust</h1>
<p>
Developed to support situational awareness for space missions, MCT eliminates the walls associated with traditional software by providing an integrated user environment with software objects that users may compose using drag and drop.
</p>

<!--h2>Overview</h2-->
<p>The following video provides a great introduction to Open MCT and its concepts.</p>
<p>
<iframe width="340" height="191" src="//www.youtube.com/embed/HC-UpPNhjR4" frameborder="0" allowfullscreen></iframe>
</p>

<h2>Features</h2>
<div class="thumbs">

<h3>Everything in One Place</h3>
<p>
Quis tortor dolor, mauris parturient dis turpis in massa aliquam scelerisque rhoncus. lorem pulvinar? Tortor purus, vel placerat nunc turpis placerat parturient sit lacus? Adipiscing. Auctor vut integer? Ultrices lacus non velit pid ut rhoncus mid sit, pulvinar in platea augue port.
</p>

<h3>Compose Your Own Displays</h3>
<p>
Quis tortor dolor, mauris parturient dis turpis in massa aliquam scelerisque rhoncus. Placerat lacerat lorem pulvinar? Tortor purus, vel placerat nunc turpis placerat parturient sit lacus? Adipiscing. Auctor vut integer? Ultrices lacus non velit pid ut rhoncus mid sit, pulvinar in platea augue port.
<a onclick="displayImg('./OpenMCT_files/m/site/images/openmct-canvas-1.png');"><img src="./OpenMCT_files/m/site/images/openmct-canvas-1.png" class="thumb lg" /></a>
</p>

<h3>Plotting</h3>
<p>
Quis tortor dolor, mauris parturient dis turpis in massa aliquam scelerisque rhoncus. Placerat lacerat lorem pulvinar? Tortor purus, vel placerat nunc turpis placerat parturient sit lacus? Adipiscing. Auctor vut integer? Ultrices lacus non velit pid ut rhoncus mid sit, pulvinar in platea augue port.
<a onclick="displayImg('./OpenMCT_files/m/site/images/openmct-plots-1.png');"><img src="./OpenMCT_files/m/site/images/openmct-plots-1.png" class="thumb lg" /></a>
</p>

<h3>Scenarios and Timelines</h3>
<p>
Quis tortor dolor, mauris parturient dis turpis in masuet a placerat lorem pulvinar? Tortor purus, vel placerat nunc turpis placerat parturient sit lacus? Adipiscing. Auctor vut integer? Ultrices lacus non velit pid ut rhoncus mid sit, pulvinar in platea augue port.
<a onclick="displayImg('./OpenMCT_files/m/site/images/openmct-timelines-1.png');"><img src="./OpenMCT_files/m/site/images/openmct-timelines-1.png" class="thumb lg" /></a>
</p>

<h3>Tabular Displays</h3>
<p>
Quis tortor dolor, mauhoncus. Placerat ac magna, turpis aliquam aliquet a placerat lorem pulvinar? Tortor purus, vel placerat nunc turpis placerat parturient sit lacus? Adipiscing. Auctor vut integer? Ultrices lacus non velit pid ut rhoncus mid sit, pulvinar in platea augue port.
<!--a onclick="displayImg('./OpenMCT_files/m/site/images/openmct-canvas-1.png');"><img src="./OpenMCT_files/m/site/images/openmct-canvas-1.png" class="thumb lg" /></a-->
</p>

</div><!-- / thumbs -->